<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dan_k.easytask">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/easytask_ic_launcher"
        android:label="@string/app_name"
        android:persistent="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--android:supportsRtl="false"-->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"

            >


            <!--android:clearTaskOnLaunch="true"-->
            <!-- android:taskAffinity="" -->
            <!-- android:excludeFromRecents="true" -->


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCjm-9UwX0HgRagTHJLLf60GZ1x9Gbor_g" />

        <service
            android:name=".CheckTasksService"
            android:enabled="true"
            android:exported="true"
            />
        <!--android:process=":ServiceProcess"-->

    </application>

</manifest>